x,
x::before
x::after{
    box-sizing: border-box;
}

body{
    /*background-color: black;*/
    background-image: url("https://media.timeout.com/images/105658075/image.jpg");
    background-size: auto;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;

}

header, main{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.rounded{
    border-radius: 50px;
}
header{
    background-color: rgba(red, green, blue, alpha);
    color: black;
    padding: 40px;
    border-radius: 50px;
    text-align: center;

    width: 60%;
    margin-left: auto;
    margin-right: auto;
}



header img{
    width: 128px;
    height: 150px;
}

h1{
    margin-top: 0;
}

a{
    color: crimson;
}

main > a{
    display: block;
    background-color: white;
    color:black;
    padding: 32px;
    margin: 32px;
    border-radius: 32px;

    font-size: 32px;
    text-decoration: none;

}

main > a:hover{
    background-color: rgb(39, 201, 142);
    color:white;
}

footer > a{
    background-color:white;
    color: black;

    padding: 8px;
    margin: 8px;
    border-radius: 50px;
}
/* #Linkedin-link{
    color: aquamarine;
} */
